@model DVDShops.Models.User;

@{
    ViewData["Title"] = "User Manage";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<!-- Content -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 id="title">Change Password</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-area="admin" asp-controller="user" asp-action="view">Back</a>
                    </li>
                    <li class="breadcrumb-item active">Users</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- /.add-album -->
<section class="content-header">
    <div class="container-fluid">
        <div class="col-lg-7 col-11 mx-auto">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Change Password</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post" asp-area="admin" asp-controller="user" asp-action="changePassword">
                    <div class="card-body">
                        <input type="hidden" asp-for="UsersPassword" />
                        <input type="hidden" asp-for="UsersId" />
                        <div class="row form-group">
                            <label for="oldPassword">Old Password</label>
                            <input id="oldPassword" name="oldPassword" type="password" class="form-control" placeholder="Enter Old Password..." required>
                        </div>
                        <div class="row form-group">
                            <label for="password">New Password</label>
                            <input id="password" type="password" name="newPassword" class="form-control" placeholder="Enter New Password..." required>
                        </div>
                        <div class="row form-group">
                            <label for="repassword">Confirm Password</label>
                            <input id="repassword" type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password..."  onclick="rePassword()" required>
                        </div>
                    </div>

                    <div class="card-footer d-flex justify-content-end">
                        <a class="btn btn-warning" asp-area="admin" asp-controller="user" asp-action="editUser" asp-route-userId="@Model.UsersId" onclick="return confirm('Are you Sure?')">CANCLE</a> &nbsp;
                        <button type="submit" class="btn btn-info">CHANGE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section tablefooter {
    <!-- InputMask -->
    <script src="~/admin/plugins/moment/moment.min.js"></script>
    <script src="~/admin/plugins/inputmask/jquery.inputmask.min.js"></script>

    <script>
        function rePassword() {
            var confirmPasswordInput = $('#repassword');
            var passwordInput = $('#password');

            if (confirmPasswordInput.val() !== passwordInput.val()) {
                confirmPasswordInput[0].style.borderColor = 'red'; // Set border color to red
            } else {
                confirmPasswordInput[0].style.borderColor = 'green'; // Set border color to green
            }
        }
    </script>
}
