@{
    Layout = "~/views/shared/layout.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Game</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a asp-controller="index" asp-action="index">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Shop</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Shop Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 justify-content-center">
        <!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <form asp-controller="game" asp-action="search">
                            <div class="input-group">
                                <input type="text" class="form-control" name="keyword" placeholder="Search by name">
                                <div class="input-group-append">
                                    <button type="submit">
                                        <span class="input-group-text bg-transparent text-primary">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="dropdown ml-4">
                            <button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                Sort by
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                <a class="dropdown-item" asp-controller="game" asp-action="sort" asp-route-type="latest">Latest</a>
                                <a class="dropdown-item" asp-controller="game" asp-action="sort" asp-route-type="popularity">Popularity</a>
                                <a class="dropdown-item" asp-controller="game" asp-action="sort" asp-route-type="rating">Best Rating</a>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var item in ViewBag.GameList)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <img class="img-fluid w-100" src="~/images/game/@item.GameCover" alt="Game Cover">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">@item.GameTitle</h6>
                                <div class="d-flex justify-content-center">
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="@item.GameTrailer" target="_blank" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Trailer</a>
                                <a href="@item.DownloadLink" target="_blank" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Download</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->
