.popup {
    display: none; /* Ẩn popup mặc định */
    position: fixed; /* Vị trí cố định */
    z-index: 1; /* Hiển thị popup trên tất cả các phần khác */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Cuộn trang khi cần */
    background-color: rgba(0,0,0,0.4); /* Tạo hiệu ứng mờ */
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
